:root{
    --darkColor: #15202b;
    --darkColo2: #192734;
    --darkColo3: #253341;
    --textColor: #fff;
}


input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position:relative;
    display: block;
    width: 40px;
    height: 20px;
    background: var(--gray);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

.check:before{
    content: '';
    position: absolute;
    top: 2px;
    left:2px;
    background: var(--darkColor3);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.check:before{
    transform: translateX(-50px);
}

.check:after{
    content: '';
    position: absolute;
    top: 2px;
    left:2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translatesX(50px);
}


input[type="checkbox"]:checked~.check:after{
    transform: translateX(0px);
}